#user-menu span.km-menu-item-title {
	display: table-cell;
}

div.km-search-wrapper {
	position: relative;
}

div.km-search-wrapper > img {
	position: absolute;
	height: 1.2rem;
	top: 0.3rem;
	left: 0.5rem;
}

input[type=text].km-top-search {
	width: 30rem;
	padding-left: 4rem;
	border-color: rgb(231, 231, 231);
}

table.std-table, div.km-table-std {
	box-shadow: 0 0 0.4em #d6d6d6;
	border: 0;
}

div.km-table-std {
	border-collapse: separate;
}

table.std-table {
	border-collapse: collapse;
}

div.kmjstb div.kmjstr:nth-child(even) > div.kmjstd, table.std-table > tbody > tr:nth-child(even) > td {
	background: #f8f8f8;
}

div.kmjstb div.kmjstr:nth-child(odd) > div.kmjstd, table.std-table > tbody > tr:nth-child(odd) > td {
	background: #fcfcfc;
}

table.std-table > tbody > tr > td:first-child, div.kmjstb div.kmjstr > div.kmjstd:FIRST-CHILD {
	border-left: none;
}

table.std-table > tbody > tr > td:last-child, div.kmjstb div.kmjstr > div.kmjstd:LAST-CHILD {
	border-right: none;
}

table.std-table > tbody > tr:last-child > td, div.kmjstb div.kmjstr:LAST-CHILD > div.kmjstd {
	border-bottom: none;
}

div.km-table-std > div.kmjsth >  div.kmjstr >  div.kmjstd {
	padding: 0.4em 0.7em;
	border-top: none;
	border-bottom: none;
}

table.std-table > tbody > tr > td, div.kmjstb div.kmjstd {
	border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 0.1em solid rgb(238, 238, 238);
    padding: 0.7em;
	text-align: left;
}

table.std-table > thead > tr.cols > th, table.std-table > thead > tr.cols > th a, div.km-table-std div.kmjsth {
	
    text-align: left;
    font-weight: normal;
    padding: 0.4em 1em;
    background: #59a0d3;
    /*background-image: linear-gradient(to bottom, #88bad1, #7aa9bf);*/
    font-weight: lighter;
    color: #fff;
    border: 0;
}

table.std-table > thead > tr.cols > th:first-child, div.km-table-std div.kmjsth div.kmjstd:first-child {
	border-left: none;
	border-top-left-radius: 0.3em;
}

table.std-table > thead > tr.cols > th:last-child, div.km-table-std div.kmjsth div.kmjstd:last-child {
	border-right: none;
	border-top-right-radius: 0.3em;
}

table.std-table > thead > tr.cols > th:first-child, div.km-table-std div.kmjsth div.kmjstd:FIRST-CHILD {
	border-top-left-radius: 0.3em;
}

div.km-table-std div.kmjsth > div.kmjstd {
	border: none;
}

div.km-table-std .km-th-label {
	font-weight: normal;
}

div.km-table-std div.kmjstb div.kmjstr:last-child > div.kmjstd:first-child {
	border-bottom-left-radius: 0.3em;
}

div.km-table-std div.kmjstb div.kmjstr:last-child > div.kmjstd:last-child {
	border-bottom-right-radius: 0.3em;
}

.ui-widget a.sbtn, .ui-widget input.sbtn, a.sbtn, input.sbtn, body input[type=submit], .sbtn {
    background: #59a0d3;
    background-image: -moz-linear-gradient(top, #6bb6ec, #68a0d7);
    background-image: -ms-linear-gradient(top, #6bb6ec, #68a0d7);
    background-image: -o-linear-gradient(top, #6bb6ec, #68a0d7);
    border: none;
	line-height: 0.8rem;
    border-radius: 0.2em;
}

/****** km-menu ********/
.km-menu li.km-menu-highlighted > a {
	background-color: #2f5c83;
}

.km-menu > ul > li > a > span.km-menu-icon {
	display: none;
    vertical-align: middle;
    padding-right: 0.9em;
}

.km-menu > ul > li > ul {
	display: none;
}

.km-menu > ul > li > a > span.km-menu-icon > img {
	height: 1.1em;
	opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
}

.km-menu {
    font-family: Arial,sans-serif;
    width: 100%;
}

.km-menu > ul {
	list-style: none;
	margin: 0;
	padding: 1.5em 0 1.5em 0;
}

.km-menu > ul > li > ul {
	margin: 0;
	padding: 0;	
}

.km-menu span.km-menu-item-title {
	display: table-cell;
	font-size: 0.8rem;
}

.km-menu > ul > li, .km-menu > ul > li > ul > li {
	padding: 0;
}

.km-menu > ul > li > ul > li > a {
	padding: 0.5em 2em 0.5em 5em;	
}

.km-menu > ul > li, .km-menu > ul > li > ul > li {
	text-align: left;
}

.km-menu > ul > li > a, .km-menu > ul > li > ul > li > a {
	text-decoration: none;
	display: block;
	margin: 0;
	white-space: nowrap;
	font-size: 0.8rem;
}

.km-menu > ul > li > a {
	padding: 0.7em 2em;	
}

.km-menu > ul > li > ul > li > a {
	padding: 0.7em 1em 0.7em 4em;
}

/******** end of km-menu ************/

div.km-title-wrapper {
	display: table;
	font-size: 1.2rem;
    color: #545454;
    font-weight: bold;
    margin-bottom: 2rem;
}
div.km-title-wrapper > div {
	display: table-cell;
	vertical-align: middle;
}

div.km-title-wrapper > div > img {
	height: 2rem;
	margin-right: 1.5rem;
}

ul.km-tabs-head {
	margin: 0;
	border: 0;
	z-index: 1;
    position: relative;
    top: 0.2em;
}

div.km-tabs-std ul.km-tabs-head > li {
    font-size: 1em;
    margin-right: 0;
    cursor: pointer;
    background-color: #fff;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ddd;
    border-right: 0;
    border-left: 0;
    border-radius: 0;
    padding: .7em 1em;
}

div.km-tabs-std ul.km-tabs-head > li:last-child {
	border-right: 1px solid #ccc;
	border-top-right-radius: 0.2em;
}

div.km-tabs-std ul.km-tabs-head > li:first-child {
	border-top-left-radius: 0.2em;
	border-left: 1px solid #ccc;
}

div.km-tabs-std ul.km-tabs-head > li:hover {
	text-decoration: none;
	background: #fff;
}

div.km-tabs-std ul.km-tabs-head > li.km-tabs-head-active {
    border-bottom: 2px solid #80aec3;
}

div.km-tabs-std ul.km-tabs-head > li:FIRST-CHILD {
}

div.km-tabs-std ul.km-tabs-head > li:LAST-CHILD {
}

div.km-tabs-std div.km-tabs-panel {
	box-shadow: none;
	padding: 1.8rem;
	border: 1px solid #ccc;
}

td.km-rp-cell {
	width: 15em;
}

.km-record-table-title {
	font-size: 1rem;
	font-weight: bold;
	margin-bottom: 1em;
}

.km-record-list-button-panel {
	text-align: right;
	display: table;
	width: 100%;
}

.km-record-list-button-panel > div.km-btn-panel-buttons {
	display: table-cell;
	text-align: right;
}

.km-record-list-button-panel > div.km-btn-panel-buttons > a.sbtn:last-child {
	margin-right: 0;
}

.km-record-list-button-panel > div.km-record-list-title {
	text-align: left;
	display: table-cell;
}

div.ibox {
	background-color: #fff;
	box-shadow: none;
	padding: 1.8rem;
	line-height: 150%;
	border: 1px solid #ccc;
	border-radius: 0.2em;
	box-sizing: border-box;
}

div.page-header, div.km-title {
	border-bottom: 0;
	margin-bottom: 0;
	padding-bottom: 2rem;
}

div#breadcrumbs > a.bc, div#breadcrumbs > a.bclnk {
    border: 0;
    background: transparent;
    padding: 1em;
}

div#breadcrumbs {
    padding: 1em 0;
    border: 1px solid #ddd;
    border-radius: 0.3rem;
    background: #fff;
    
    display: none;
}

/**** left menu ********/
#km-layout-menu, .km-left-menu, div.km-left-container {
	width: 200px;
	min-width: 200px;
	border-right: 0.1em solid #ccc;
    box-shadow: 0 0 0.6em rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

div.km-left-container {
	position: fixed;
	top: 0;
	left: 0;	
}

.km-menu > ul > li > a:hover {
	background-color: #2f5c83;	
}

.km-menu, .km-left-menu {
	background-color: #2f5678;
}

.km-menu a {
	color: #fff;
	border-top: 1px solid #3e6383;
}

.km-menu > ul {
	/*height: 5000px;*/
}

.km-profile-box {
	display: none;
	background: #282828;
}

.km-profile-pic {
	padding: 1rem;
}

.km-profile-img {
	border-radius: 50%;
	border: 2px solid #fff;
	width: 7rem;
	height: 7rem;
	margin: 0 auto;
	background: #aaa;
}

.km-profile-name {
	color: #fff;
	text-align: center;
	padding: 0rem 0 1rem 0;
	font-size: 1rem;
}

.km-menu > ul > li > ul > li > a:hover {
	background-color: #2f5c83;	
}

.header-bar-bg {
	background: #fff;
	/*background-image: -webkit-linear-gradient(top, #e0e0e0, #e2e2e2);
	background-image: -moz-linear-gradient(top, #e0e0e0, #e2e2e2);
	background-image: -ms-linear-gradient(top, #e0e0e0, #e2e2e2);
	background-image: -o-linear-gradient(top, #e0e0e0, #e2e2e2);
	background-image: linear-gradient(to bottom, #e0e0e0, #e2e2e2);*/
}

div.logo-cell > a > img, .header-bar div.logo-cell > img {
    height: 2rem;
    margin: 1rem 1rem 1rem 2rem;
}

.header-bar {
	border-bottom: none;
	height: 4rem;	
}

.header-bar > div {
	vertical-align: middle;
	border-bottom: 1px solid #cdcdcd;
}

div.km-layout-body {
	padding: 2rem;
}

.km-top-middle {
	padding: 0 1rem;
}

.km-square {
	height: 2rem;
	width: 1.5rem;
	box-sizing: border-box;
	padding: 0.3rem;
	background: #fff;
}

.km-square > div {
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	background: #275378;
}

div.logo-cell {
	width: 1.5rem;
	padding: 0.5rem 1rem;
}

div.brand-cell {
	font-size: 1.5rem;
    color: #fff;
    height: 4rem;
}

div#km-mobile-bar {
	display: none;
}

.km-pagination {
    background-color: #fff;
    border: 0;
    padding: 1px;
    margin-top: 0.3em;
}

.km-pagination > a, .km-pagination > div.km-page-no-no-ellipsis > a, .km-pagination > div.km-page-no-ellipsis > a {
    padding: 0.3em 0.8em;
    font-size: 0.8rem;
    display: inline-block;
    border-radius: 0.2em;
    line-height: 1rem;
    color: #444444;
    text-shadow: 0px 1px 0px rgb(255 255 255);
    margin-right: 0.3em;
}

.km-pagination > a:hover, .km-pagination > div.km-page-no-no-ellipsis > a:hover, .km-pagination > div.km-page-no-ellipsis > a:hover {
	background: #fff;
}

.km-export-btns {
	margin-top: 0.5em;
}

/************ minimal table 1 **************/
/*div.km-table-std > div.kmjsth >  div.kmjstr >  div.kmjstd,
table.std-table > thead > tr.cols > th,
table.std-table > thead > tr.cols > th a,
div.km-table-std div.kmjsth {
    color: #535353;
    font-size: 0.7rem;
    text-transform: uppercase;
    background: rgb(243, 243, 243);
    font-weight: bold;
    color: #000000;
    border: 0;
    border-bottom: 1px solid #aaa;
    padding: 1em;
}

table.std-table, div.km-table-std {
    box-shadow: none;
    border: 1px solid #ddd;
    color: #2d2d2d;
    background: rgba(247, 247, 247, 0.56);
}

div.km-table-std .km-th-label {
	font-weight: bold;
}

table.std-table > tbody > tr > td,
div.kmjstb div.kmjstd {
    border-left: none;
    border-right: none;
    border-top: none;
    border-bottom: 0.1em solid rgb(238, 238, 238);
    padding: 0.7em;
    text-align: left;
}

table.std-table > tbody > tr:last-child > td, div.kmjstb div.kmjstr:last-child div.kmjstd {
	border-bottom: 1px solid #ddd;
}

table.std-table > tbody > tr:nth-child(odd) > td {
    background: #fff;
}

table.std-table > tbody > tr:nth-child(even) > td {
	background: #f8f8f8;
}

div.kmjstb div.kmjstr > div.kmjstd:FIRST-CHILD {
	border-left: 0;
}

div.kmjstb div.kmjstr > div.kmjstd:LAST-CHILD {
	border-right: 0;
}

table.std-table tr:first-child td:first-child {
    border-top-left-radius: 0.3em;
}

table tr:first-child td:last-child {
    border-top-right-radius: 0.3em;
}

*/

#content {
	background: #f2f2f2;
}

img.km-home-logo {
	width: 150px;
    margin: 1rem 0 0 1rem;
}

/************ end of minimal table 1 **************/

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
	
	.km-record-table-title {
		font-size: 1.5rem;
		font-weight: bold;
		padding: 1rem;
	}

	.km-pagination > a, .km-pagination > div.km-page-no-no-ellipsis > a, .km-pagination > div.km-page-no-ellipsis > a {
		border: 0;
		background: none;
		box-shadow: none;
	}
	
	div.ibox {
		padding: 0;
		border: 0;
	} 
	
	div#km-mobile-bar {
		display: table;
	    width: 100%;
	    background: #395872;
	    position: fixed;
	    top: 0;
	    left: 0;
	    z-index: 10;
	}
	
	div#km-mobile-bar > div {
		display: table-cell;
		vertical-align: middle;
	}
	
	div.km-bl-table, div.km-profile-box {
		display: none;
	}
	
	div.kmjstb div.kmjstr > div.kmjstd {
		border: none;
		margin-bottom: 1em;
	}
	
	div.kmjstb div.kmjstr > div.kmjstd:last-child {
		margin-bottom: 0;
	}
	
	table.std-table > tbody > tr > td:last-child, div.kmjstb div.kmjstr > div.kmjstd:first-child,
	table.std-table > tbody > tr > td:last-child, div.kmjstb div.kmjstr > div.kmjstd:last-child {
		border: 0;
	}
	
	#content {
		background: #fff;
	}
	
	div.kmjstb div.kmjstr:nth-child(odd) > div.kmjstd, div.kmjstb div.kmjstr:nth-child(even) > div.kmjstd {
		background: #fff;
	}
	
	.km-record-list-button-panel > div.km-btn-panel-buttons {
		display: block;
		text-align: left;
	}
	
	div.km-record-list-button-panel a.sbtn {
    	display: inline-block;
    	padding: 1em;
	}
	
	.km-record-list-button-panel > div.km-record-list-title {
		display: block;
	}
	
	.km-record-list-button-panel {
		display: block;
	}
	
	.km-record-list-button-panel > div.km-record-list-title {
		margin: 1em 0 1em 0;
	}
	
	div.km-layout-body {
		padding: 0;
		overflow: auto;
	}
	
	#km-layout-menu, .km-left-menu, div.km-left-container {
		width: 100%;
		position: initial;
	}
	
	.km-menu, .km-left-menu {
	    background-color: #5e7f9b;
	    z-index: 5;
	}
	
	.km-menu > ul {
		padding: 0;
	}
	
	.km-menu > ul > li > a {
	    padding: 1em 2em;
	    border: 0;
	}
	
	div.km-btn-panel-container {
		padding: 0 1em;
	}
	
	div.km-tabs-std div.km-tabs-panel {
		padding: 0;
		border: none;
	}
	
	div.km-tabs-std ul.km-tabs-head > li {
		border-top: 0;
	}
	
}